body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(photos/scene.webp);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

body{
    background-color: rgba(52, 70, 72, 1);
    position: relative;
    overflow: auto;
}

.container{
    display: grid;
    grid-template-columns: minmax(225px, 250px) minmax(900px, 1400px) minmax(300px, 400px);
    position:relative;
    box-sizing: border-box;
    overflow: auto;
}

.header, .nav{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgba(255, 187, 152, 0.6);
}

.header{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 20px;
    gap: 20px;
}

.header .headSection1{
    display: grid;
    grid-template-columns: minmax(250px, 450px) minmax(0px, 700px);
    box-sizing: border-box;
    overflow: auto;
}

ul{
    list-style: none;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}

#searchBar{
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    width: 450px;
    background-color: rgba(255, 187, 152, 0.01);
    text-align: center;
 }

.notificationContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-column-start: 3;
    align-items: center;
    justify-content: center;
}

 #username{
    width: 120px;
    text-decoration: none;
    font-size: 20px;
 }

  #username:link {
    color: cyan;
  }
  
  #username:visited {
    color: rgba(52, 70, 72, 1);
  }
  
  #username:hover {
    color: hotpink;
  }

  #username:active {
    color: blue;
  }

 #shareLogo:hover{
    cursor: pointer;
 }

 #searchLogo{
    height: 30px;
 }

.header .icon, .sidebar .icon{
    height: 30px;
    width: auto;
}

.nav{
    display: grid;
    grid-template-columns: minmax(250px, 450px) minmax(0px, 700px);
    background-color: rgba(255, 187, 152, 0.01);
    box-sizing: border-box;
    overflow: auto;
    gap: 0;
    align-items: center;
}

.nav .iconWelcomeContainer{
    text-align: center;
}

.nav .icon{
    height: 75px;
    width: auto;
}

.navButtons{
    display: flex;
    flex-direction: row;
    grid-column-start: 3;
    gap: 20px;
}

.navButtons button{
    border-style: none;
    color: #202020;
    border-radius: 25px;
    height: 35px;
    width: 100px;
    background-color: rgba(125, 142, 149, 1);
    font-size: 20px;
    font-weight: 700;
}

.iconWelcomeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 1 /3;
    gap: 15px;
}

.welcomeContainer{
    display: flex;
    flex-direction: column;
}

.welcomeContainer div{
    font-size: 30px;
}

.welcomeContainer span{
    font-size: 20px;
}

.sidebar{
    background-color: rgba(251, 224, 195, 0.60);
}

.sidebar div{
    padding-left: 25px;
    padding-top: 25px;
}

.sidebar ul a, .sidebar div{
    text-decoration: none;
    color: #f1f1f1;
}

.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
}

.sidebar ul, .sidebar div{
    font-size: 25px;
}

.sideSection1{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.sideSection2 li{
    padding-top: 20px;
    font-size: 20px;
}

.sideSection2{
    padding-top: 200px;
}

.content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2 / 4;
    text-align: center;
}

.content div{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.background1{
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.background2{
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.contentGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.contentGrid .gridItem{
    background-color: #f1f1f1;
    border-style: solid;
    border-radius: 10px;
    border-color: #f1f1f1;
    border-left-color: #EA6A47;
    border-left-width: 10px;
    padding-bottom: 0;
}

.contentGrid a{
    text-decoration: none;
    color: #202020;
    font-weight: 600;
}

.gridItem{
    display: flex;
    flex-direction: column;
}

.gridItem div{
    padding: 15px;
}

.gridItemIcons{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: end;
    align-items: center;
    margin-bottom: 0;
}

.gridItemIcons .icon{
    padding: 15px;
}

.gridItem .icon{
    width: 20px;
    height: auto;
}

.ad{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2 /4;
    margin: 20px;
    padding: 20px;
}

.ad div{
    font-size: 20px;
}

.adSection1, .adSection2{
    background-color: rgba(125, 142, 149, 0.6);
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}

.adSection1 .listHead{
    font-size: 20px;
    padding: 2px;
    font-weight: 800;
}

.adSection2{
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: none;
}

.adSection2 .icon{
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.adSection2 li{
    grid-column-start: 2;
}